<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="img/weather.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      {{ helpText }}
      <p>
        It'll tell you current day or night status of desired location. Overall
        weather status including actual temp., apparant temperature, humidity
        and chances of rain if exists!
      </p>
    </div>
    {{>footer}}
  </body>
</html>
